html {
  position: relative;
  width: 1300px;
  height: 2738px;

  background: linear-gradient(180deg, #9da366 6.06%, #b3a0ba 75.31%);
}

.plane-pic {
  position: absolute;
  width: 116.72px;
  height: 117.58px;
  left: 80px;
  top: 15px;
  transform: rotate(270deg);
}

.navbar ul {
  position: flex;
  top: 0;
  width: 100%;
}

.nav-list {
  font-size: 20px;
  font-family: "Poppins";
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-home {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  padding: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-decoration: underline;
  color: black;
  transition: all 200ms ease-in;
}

.nav-home a {
  padding-left: 160px;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #7d387d;
}

.nav-home a:hover {
  color: lavenderblush;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-home:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

#home-heading {
  position: absolute;
  width: 714px;
  height: 216px;
  left: 202px;
  top: 110px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 216px;
  color: #000000;
}

#period-plane {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 895px;
  top: 310px;
}

#home-tagline {
  position: absolute;
  width: 1110px;
  height: 127px;
  left: 201px;
  top: 390px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.wrapper {
  display: flex;
  padding: 100px;
  min-height: 1500px;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.info-imgs {
  position: absolute;
  width: 496px;
  height: 496px;
  border-radius: 50%;
}

.info-desc {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  color: #000000;
}

.left .pic1 {
  position: absolute;
  width: 496px;
  height: 496px;
  left: 112px;
  top: 750px;
}

.left .pic2 {
  position: absolute;
  width: 496px;
  height: 496px;
  left: 112px;
  top: 1369px;
}

.left .pic3 {
  position: absolute;
  width: 496px;
  height: 496px;
  left: 112px;
  top: 1988px;
}

.right .info1 {
  position: absolute;
  width: 702px;
  height: 156px;
  left: 698px;
  top: 920px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 78px;
  text-align: center;

  color: #000000;
}

.right .info2 {
  position: absolute;
  width: 702px;
  height: 390px;
  left: 698px;
  top: 1422px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 78px;
  text-align: center;

  color: #000000;
}

.right .info3 {
  position: absolute;
  width: 702px;
  height: 390px;
  left: 698px;
  top: 2041px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 78px;
  text-align: center;

  color: #000000;
}
