html {
  scroll-behavior: smooth;
  background-size: cover;
}

body {
  background: #beb7df;
  width: 1200px;
}

.name-question h1 {
  position: absolute;
  width: 542px;
  height: 156px;
  left: 58px;
  top: 143px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 78px;

  color: #ffffff;
}

/* Input Field1 */

.name-question input[type="text"] {
  position: absolute;
  left: 63px;
  top: 379px;
  bottom: 2.27%;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: rgb(78, 76, 85);
  opacity: 1;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  outline: none;
  width: 700px;
  height: 44px;
  background: #beb7df;
  border-bottom: 3px solid #ffffff;
}

t .name-question input[type="text"]:focus {
  border: 0px;
  border-bottom: 2px solid #ffffff;
}

.name-question .bgpic {
  position: absolute;
  width: 100%;
  height: 643px;
  left: 0px;
  top: 392px;
}

::placeholder {
  color: #d6d6d6;
  font-style: italic;
}

.name-question h1 {
  position: absolute;
  width: 542px;
  height: 156px;
  left: 58px;
  top: 143px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 78px;
  align-items: center;

  color: #ffffff;
}

.name-question .plane-pic {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 1000px;
  top: 600px;
  border-radius: 0px;
}

/* Input Field2 */
.city-question h1 {
  position: absolute;
  width: 781px;
  height: 78px;
  left: 58px;
  top: 1148px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  color: #ffffff;
}

.city-question input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  outline: none;

  position: absolute;
  width: 700px;
  height: 44px;
  left: 66px;
  top: 1350px;

  bottom: 2.27%;
  color: #ffffff;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  opacity: 1;
  background: #417d81;
}

.city-question input[type="text"]:focus {
  border: 0px;
  border-bottom: 3px solid #ffffff;
}

.city-question .bgpic {
  position: absolute;
  width: 100%;
  height: 982px;
  left: 0px;
  top: 1035px;
  bottom: 0;
}

.city-question .plane-pic {
  /* Vector */
  position: absolute;
  height: 100px;
  width: 100px;
  left: 1000px;
  top: 1400px;
  border-radius: 0px;
}
/* Third part */
.welcome p {
  position: absolute;

  height: 78px;
  left: 200px;
  top: 2000px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */

  color: #ffffff;
}

.welcome .bgpic {
  position: absolute;
  width: 100%;
  height: 424px;
  left: 0px;
  top: 2017px;

  background: linear-gradient(180deg, #417d81 0%, rgba(65, 125, 129, 0) 100%);
}

.welcome .plane-pic {
  position: absolute;
  width: 150.44px;
  height: 151.55px;
  left: 500px;
  top: 2200px;
}

.button {
  opacity: 0;
}
