html {
  position: relative;
  height: 2060px;
  width: 1512;
  background: linear-gradient(180deg, #9da366 6.06%, #b3a0ba 75.31%);
}

.navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  font-size: 20px;
  font-family: "Poppins";
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-home {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  padding: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-decoration: underline;
  color: black;
  transition: all 200ms ease-in;
}

.nav-home a {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #7d387d;
}

.nav-item a:active {
  background-color: #b3a0ba;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 130px;
}

.nav-home a:hover {
  color: lavenderblush;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-home:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.bg-frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 1362px;
  height: 1260px;
  left: 75px;
  top: 222px;
}

.emergency-contact-form h1 {
  position: absolute;
  width: 699px;
  height: 68px;
  left: 129px;
  top: 283px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  color: #000000;
}

.right {
  flex: 1;
}

.left {
  flex: 1;
}

.wrapper {
  display: flex;
  padding-left: 80px;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

/* left */
/* 1 */
.your-name p {
  position: absolute;
  width: 161px;
  height: 41px;
  left: 129px;
  top: 379px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.your-name input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 264px;
  height: 65px;
  left: 137px;
  top: 457px;
}

/* 2 */
.your-birth p {
  position: absolute;
  width: 161px;
  height: 41px;
  left: 129px;
  top: 542px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.your-birth input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;

  width: 264px;
  height: 65px;
  left: 129px;
  top: 612px;

  background: #cfd1b3;
}

/* 3 */
.your-pronouns p {
  position: absolute;
  width: 161px;
  height: 41px;
  left: 129px;
  top: 705px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.your-pronouns input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 225px;
  height: 65px;
  left: 129px;
  top: 775px;
}

/* 4 */

.emergency-contact-name1 p {
  position: absolute;
  width: 442px;
  height: 41px;
  left: 137px;
  top: 911px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-name1 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 444px;
  height: 65px;
  left: 129px;
  top: 980px;
}

/* 5 */

.emergency-contact-relationship1 p {
  position: absolute;
  width: 350px;
  height: 41px;
  left: 137px;
  top: 1073px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-relationship1 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 264px;
  height: 65px;
  left: 129px;
  top: 1142px;
}

/* 5 */

.emergency-contact-phone1 p {
  position: absolute;
  width: 370px;
  height: 41px;
  left: 137px;
  top: 1240px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-phone1 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 444px;
  height: 65px;
  left: 129px;
  top: 1309px;
}

/* right */
/* 1 */
.your-address p {
  position: absolute;
  width: 487px;
  height: 41px;
  left: 842px;
  top: 377px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.your-address input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 452px;
  height: 65px;
  left: 834px;
  top: 446px;
}

/* 2 */
.school_work_address p {
  position: absolute;
  width: 410px;
  height: 41px;
  left: 842px;
  top: 539px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.school_work_address input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;

  width: 452px;
  height: 65px;
  left: 834px;
  top: 608px;

  background: #cfd1b3;
}

/* 3 */
.your-phone p {
  position: absolute;
  width: 370px;
  height: 41px;
  left: 842px;
  top: 706px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.your-phone input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 452px;
  height: 65px;
  left: 834px;
  top: 775px;
}

/* 4 */

.emergency-contact-name2 p {
  position: absolute;
  width: 487px;
  height: 41px;
  left: 842px;
  top: 911px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-name2 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 452px;
  height: 65px;
  left: 834px;
  top: 980px;
}

/* 5 */

.emergency-contact-relationship2 p {
  position: absolute;
  width: 350px;
  height: 41px;
  left: 842px;
  top: 1073px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-relationship2 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 293px;
  height: 65px;
  left: 834px;
  top: 1142px;
}

/* 6 */

.emergency-contact-phone2 p {
  position: absolute;
  width: 370px;
  height: 41px;
  left: 842px;
  top: 1240px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.emergency-contact-phone2 input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 452px;
  height: 65px;
  left: 834px;
  top: 1309px;
}

/* footer */
/* left */

.left-footer img {
  position: absolute;
  width: 650px;
  height: 476px;
  left: 85px;
  top: 1500px;

  background: #e6e3f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.left-footer .instructions {
  position: absolute;
  width: 552px;
  height: 148px;
  left: 137px;
  top: 1627px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.left-footer .trusted-friend p {
  position: absolute;
  width: 370px;
  height: 41px;
  left: 137px;
  top: 1786px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.left-footer input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 130px;
  background-color: #cfd1b3;
  position: absolute;
  width: 327px;
  height: 44px;
  left: 148px;
  top: 1856px;
}

.left-footer h2 {
  position: absolute;
  width: 699px;
  height: 68px;
  left: 129px;
  top: 1531px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  color: #000000;
}

.right-footer img {
  position: absolute;
  width: 650px;
  height: 471px;
  left: 777px;
  top: 1505px;

  background: #e6e3f2;
  border-radius: 30px;
}

.right-footer h2 {
  position: absolute;
  width: 699px;
  height: 68px;
  left: 813px;
  top: 1531px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  color: #000000;
}

.right-footer ul {
  position: absolute;
  width: 600px;
  height: 391px;
  left: 797px;
  top: 1618px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}
